<!-- Cookie Consent -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
  window.addEventListener("load", function() {
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      },
      "theme": "classic",
      "content": {
        "message": "Este sitio utiliza cookies para asegurar que obtengas la mejor experiencia.",
        "dismiss": "Entendido",
        "link": "Más información",
        "href": "/politica-de-cookies"  // Modifica esta ruta según la ubicación real de tu política de cookies
      }
    });
  });
</script>
